@font-face {
  font-family: "DM Sans";
  font-display: swap;
  src: url(../fonts/DMSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  font-display: swap;
  src: url(../fonts/DMSans-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  font-display: swap;
  src: url(../fonts/DMSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  font-display: swap;
  src: url(../fonts/DMSans-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27, 66%, 92%);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 6rem;
  color: hsl(33, 100%, 98%);
  background-color: hsl(10, 79%, 65%);
  border-radius: 1rem;
}

.title {
  font-size: 0.75rem;
  font-weight: normal;
}
.title.big {
  font-size: 1.5rem;
  font-weight: bold;
}

.paragraph {
  font-size: 1.5rem;
}
.paragraph.small {
  font-size: 0.75rem;
}
.paragraph.medium {
  font-size: 1rem;
}
.paragraph.big {
  font-size: 2rem;
}

.strong {
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.content.right {
  flex-direction: column;
  align-items: flex-end;
}
.content.left {
  flex-direction: column;
  align-items: flex-start;
}

.chart {
  padding: 1.5rem;
  width: 100%;
  background-color: hsl(33, 100%, 98%);
  border-radius: 1rem;
}

.chart-area .title {
  color: hsl(25, 47%, 15%);
}

.chart-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.chart-elements .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.chart-elements .column .amount {
  visibility: hidden;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(33, 100%, 98%);
  background-color: hsl(25, 47%, 15%);
  border-radius: 0.25rem;
}
.chart-elements .column .bar {
  height: 150px;
  background-color: hsl(10, 79%, 65%);
  width: 100%;
  border-radius: 0.5rem;
}
.chart-elements .column .bar.current {
  background-color: hsl(186, 34%, 60%);
}
.chart-elements .column .week {
  font-size: 0.75rem;
  color: hsl(28, 10%, 53%);
}
.chart-elements .column:hover {
  cursor: pointer;
}
.chart-elements .column:hover .amount {
  visibility: visible;
}
.chart-elements .column:hover .bar {
  opacity: 0.8;
}

.chart-statistics {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid hsl(27, 66%, 92%);
}
.chart-statistics .title,
.chart-statistics .paragraph.small {
  color: hsl(28, 10%, 53%);
}
.chart-statistics .strong {
  color: hsl(25, 47%, 15%);
}

.attribution {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
}
.attribution .link {
  color: hsl(186, 34%, 60%);
}/*# sourceMappingURL=main.css.map */